{% extends 'layout.html' %}

{% block title %}
{% endblock  %}

{% block body %}
<div class="items-center container mx-auto mt-20 grid gap-5 grid-cols-1 grid-rows-3 w-80">
    <h2 class="text-center text-2xl font-medium text-white mb-3">Choose your set</h2>
        <form class="grid gap-5 grid-cols-3 grid-rows-1">
            {% for number in ['1', '2', '3'] %}
                <div class="grid justify-items-center">
                    <input type="radio" id="{{ 'option' + number }}" name="option" value="{{ number }}" 
                            class="form-radio h-5 w-5 text-white transition duration-150 ease-in-out">
                    <label for="{{ 'option' + number }}" class="ml-2 my-auto text-white text-lg">{{ 'set ' + number }}</label>
                </div>
            {% endfor %}
        </form> 
    <button id="start-game-btn" class="bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded w-40 mx-auto" 
            onclick="startGame()">Start game</button></div>
{% endblock  %}

{% block script %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock  %}
